@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.pixelated { image-rendering: pixelated; }

:root {
  --orbit-radius: 120px;
}